.benefit {
	max-width: 1100px;
	margin: 0 auto;

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 60px;
		@media (max-width: 900px) {
			flex-wrap: wrap;
			justify-content: flex-start;
		}
		@media (max-width: 640px) {
			flex-direction: column;
			gap: 20px;
			align-items: flex-start;
		}
	}

	&__item {
		display: flex;
		gap: 10px;
		align-items: center;
		@media (max-width: 900px) {
			width: 45%;
		}
		@media (max-width: 640px) {
			width: 100%;
		}
	}

	&__icon {
		flex-shrink: 0;
	}

	&__title {
		font-size: 1rem;
		font-weight: 600;
	}
}
