@use '../base/variables' as *;

.cta {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__tg {
    max-width: none;
    flex-shrink: 0;
  }
}
