@use '../base/variables' as *;

.cta {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__tg {
    max-width: none;
    flex-shrink: 0;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: $bp-small-mobile) {
      flex-direction: column;
      width: 100%;
      gap: 20px 40px;
    }
  }
}
