.hero {
  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: 750px) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__image {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 320px;
      height: auto;
      display: block;
      @media (max-width: 750px) {
        max-width: 200px;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 40px;
    line-height: 1.2;
    @media (max-width: 750px) {
      font-size: 1.6rem;
      text-align: center;
    }
  }

  &__text {
    font-size: 1.15rem;
    font-weight: 400;
    color: #ff8000;
    margin: 0 0 120px;
    line-height: 1.5;
    @media (max-width: 750px) {
      font-size: 1rem;
      text-align: center;
      margin: 0 0 60px;
    }
  }

  &__button {
    @media (max-width: 750px) {
      display: block;
      text-align: center;
    }
  }
}
