.why {
  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
    width: 100%;
  }

  &__subtitle {
    text-align: center;
    max-width: 400px;
    margin: 0 auto 40px;
  }

  &__list {
    display: flex;
    gap: 38px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &:nth-child(even) {
      @media (max-width: 900px) {
        .why__card {
          order: -1;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      gap: 18px;
    }
  }

  &__card {
    background: #111;
    padding: 26px 28px;
    border-radius: 18px;
    min-width: 250px;
    max-width: 600px;
    flex: 1;
    box-shadow: 0 2px 18px 0 #141414;
  }

  &__heading {
    color: #fff;
    font-size: 1.18rem;
    font-weight: 700;
    margin: 0 0 8px 0;
  }

  &__text {
    color: #b6c2cc;
    font-size: 1rem;
    margin: 0;
  }

  &__image {
    margin: 0 auto;
  }
}
