@use 'variables' as *;

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #000;
  color: #fff;
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  position: relative;
}
a {
  color: #ff8000;
  text-decoration: underline;
  transition: color 0.2s;
}
a:hover {
  color: #fff;
}
image {
  display: inline-block;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 60px;
}
.button {
  background: #ff8000;
  color: #fff;
  font-weight: 700;
  font-size: 1.13rem;
  padding: 16px 38px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.2s;
  box-shadow: 0 4px 20px 2px #130c01;
  display: inline-block;
  @media (any-hover: hover) {
    &:hover {
      background: #ff9400;
    }
  }
}