@use 'variables' as *;

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-x: clip;

  @media (max-width: $bp-tablet) {
    scroll-padding-top: 0;
  }
}
body {
  background: $color-bg;
  color: $color-text;
  font-family: $font-base;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  position: relative;
  overflow-x: clip;
}
a {
  color: $color-accent;
  text-decoration: underline;
  transition: color 0.2s;
}
a:hover {
  color: $color-text;
}
image {
  display: inline-block;
}
section {
  padding: 30px 0;
}
.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-padding;
  margin-bottom: 60px;
  @media (max-width: $bp-mobile) {
    margin-bottom: 0;
  }
}
.button {
  background: $color-accent;
  color: $color-text;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 18px 44px;
  border: none;
  border-radius: $radius-sm;
  text-decoration: none;
  transition: background 0.2s;
  box-shadow: 0 4px 20px 2px #130c01;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @media (any-hover: hover) {
    &:hover {
      background: $color-accent-hover;
    }
  }
  @media (max-width: $bp-mobile) {
    font-size: 1rem;
    padding: 12px 36px;
  }
  @media (max-width: $bp-small-mobile) {
    width: 100%;
  }
}
.title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
  &:not(:has(+ .subtitle)) {
    font-size: 1.8rem;
    margin-bottom: 60px;
    @media (max-width: $bp-mobile) {
      margin-bottom: 30px;
    }
  }
}
.subtitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 60px;
  color: $color-text-soft;
  line-height: 1.5;
  @media (max-width: $bp-mobile) {
    margin: 0 auto 30px;
  }
}