@use 'base/variables';
@use 'base/mixins';
@use 'base/reset';
@use 'base/base';

@use 'components/video-bg';
@use 'components/header';
@use 'components/timer';
@use 'components/modal';
@use 'components/cookie';
@use 'components/footer';

@use 'sections/hero';
@use 'sections/benefit';
@use 'sections/why';
@use 'sections/steps';
@use 'sections/audience';
@use 'sections/prices';
@use 'sections/reviews';
@use 'sections/faq';
@use 'sections/cta';
@use 'sections/quiz';
