@use 'base/variables';
@use 'base/mixins';
@use 'base/reset';
@use 'base/base';

@use 'components/video-bg';
@use 'components/header';
@use 'components/hero';
@use 'components/benefit';
@use 'components/why';
@use 'components/steps';
@use 'components/audience';
@use 'components/prices';
@use 'components/reviews';
@use 'components/faq';
@use 'components/contacts';
@use 'components/modal';
@use 'components/quiz';
@use 'components/cookie';
@use 'components/footer';
